/* colors */
:root {
  --black-color: rgba(23, 22, 22, 1);
  --black-5-color: rgba(23, 22, 22, 0.05);
  --dark-grey-color: #3d3d3d;
  --grey-color: #707070;
  --light-grey-color: #eaeaea;
  --slight-white-color: #fefefe;
  --white-color: #fbfbfb;
  --bg-color: #f5f5f5;
  --red-color: rgba(184, 12, 9, 1);
  --green-color: rgba(138, 201, 38, 1);
  --purple-color: rgba(118, 120, 237, 1);
  --purple-50-color: #bbbbf6;

  --input-height: 40px;
}
